{% extends "inc/base.html" %}
{% load static %}

{% block content %}

<div class="col-10">
    <div class="col-sm-10">
        <div class="pt-5 pb-3 border-bottom">
            <div class="card-body">
                <div class="d-flex">
                    <div class="question_picture">
                        <img src="{% static 'img/picture.png' %}">
                    </div>
                    <div>
                        <h3 class="card-title">{{ question.title }}</h3>
                        <p class="card-text">{{ question.text }}</p>
                        <div class="d-flex d-grid gap-1">
                            <p>Tags:</p>
                            <div class="d-flex d-grid gap-2">
                                {% for tag in question.tags %}
                                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="d-flex">
                    <div class="avatar">
                        <img src="{% static 'img/picture.png' %}">
                    </div>
                    <div class="text-start">
                        <p class="card-text">With supporting text below as a natural
                            lead-in to additional
                            content. With supporting text below as a natural lead-in to additional. With
                            supporting text below as a natural lead-in to additional
                        </p>
                        <div class="d-flex d-grid gap-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">
                                    Correct
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="d-flex">
                    <div class="avatar">
                        <img src="{% static 'img/picture.png' %}">
                    </div>
                    <div class="text-start">
                        <p class="card-text">With supporting text below as a natural
                            lead-in to additional
                            content. With supporting text below as a natural lead-in to additional. With
                            supporting text below as a natural lead-in to additional
                        </p>
                        <div class="d-flex d-grid gap-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                       disabled>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Correct
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col pt-1 border-top mt-3">
            <div class="d-flex row g-3 align-items-center mt-2">
                <div class="col">
                    <textarea class="form-control" placeholder="Enter your answer here" id=""
                              style="height: 100px"></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Answer</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'inc/paginator.html' %}
</div>

{% endblock %}