{% extends "inc/base.html" %}
{% load static %}

{% block content %}
<div class="title text-start d-flex align-items-baseline d-grid gap-3">
    <h3 class="">Settings:</h3>
    <h3>{{ user.username }}</h3>
</div>
<div class="col-sm-10">
    <form>
        <div class="row g-3 align-items-center text-start">
            <div style="width: 8rem">
                <label for="" class="col-form-label">Login</label>
            </div>
            <div class="col-6">
                <input type="" id="" class="form-control" aria-describedby="">
            </div>
        </div>
        <div class="d-flex row g-3 align-items-center mt-2 text-start">
            <div style="width: 8rem">
                <label for="" class="col-form-label">Email</label>
            </div>
            <div class="col-6">
                <input type="email" id="" class="form-control" aria-describedby="">
            </div>
        </div>
        <div class="d-flex row g-3 align-items-left mt-2 text-start">
            <div style="width: 8rem">
                <label for="" class="col-form-label">NickName</label>
            </div>
            <div class="col-6">
                <input type="email" id="" class="form-control" aria-describedby="">
            </div>
        </div>
        <div class="d-flex row g-3 align-items-left mt-2 text-start">
            <div style="width: 8rem">
                <label for="" class="col-form-label">Upload avatar</label>
            </div>
            <div class="col-6 text-start">
                <div class="d-flex flex-column ">
                    <div class="setting_avatar">
                        <img src="../static/img/picture.png">
                    </div>
                    <div class="d-flex mt-2 mb-2 align-items-baseline d-grid gap-2">
                        <p>c://desktop/img</p>
                        <button type="submit" class="btn btn-outline-primary">Choose</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex row g-3 align-items-left mt-2 text-start">
            <div style="width: 8rem"></div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}