<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe_Pyatkov</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body>
<header class="p-3 border-bottom bg-light">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between ">
            <a href="{% url 'index' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                AskPyatkov
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Logo">
                    <use xlink:href="#logo"/>
                </svg>
            </a>
            <div class="d-flex flex-wrap">
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                           aria-label="Search">
                </form>
                <a href="{% url 'ask' %}"><button type="button" class="btn btn-primary">ASK!</button></a>
            </div>

            <div class="text-end">
                <div class="d-flex flex-wrap">
                {% if is_auth %}
                    <div class="avatar">
                        <img src="{% static 'img/picture.png' %}">
                    </div>
                    <div>
                        <div>Dr. Pepper</div>
                        <div>
                            <a href="{% url 'settings' %}">settings</a>
                            <a href="#">log out</a>
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex flex-wrap">
                        <div>
                            <a href="{% url 'login' %}">log in</a>
                            <a href="{% url 'signup' %}">register</a>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container text-left">
    <div class="row">

        <div class="col-10">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-2">
            <div class="title text-start d-flex">
                <div>
                    <h5 class="">Popular Tags</h5>
                    <div class="">
                        <a href="">perl</a>
                        <a href="">python</a>
                        <a href="">technopark</a>
                        <a href="">MySQL</a>
                    </div>
                </div>
            </div>
            <div class="title text-start d-flex">
                <div>
                    <h5>Best Members</h5>
                    <div class="d-flex flex-column">
                        <a href="">Mr. Freeman</a>
                        <a href="">Dr. House</a>
                        <a href="">Alex</a>
                        <a href="">V. Pupkin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>