<nav aria-label="Page navigation example">
    <ul class="pagination mt-3">
        {% if questions.has_previous %}
            {% if questions.previous_page_number > 1 %}
                <li class="page-item "><a class="page-link " href="?page=1">1</a></li>
            {% endif %}
            <li class="page-item "><a class="page-link " href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ questions.number }}
              <span class="sr-only ">(current)</span>
            </span>
        </li>
         {% if questions.has_next %}
            <li class="page-item "><a class="page-link " href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
            {% if questions.next_page_number != questions.paginator.num_pages %}
                    <a class="page-link" href="?page={{ questions.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
        {% endif %}
    </ul>
</nav>
